<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="org.example.Alien" autowire="byName">
        <property name="age" value="22"/>
<!--        <property name="com" ref="com2"/>-->

<!--        constructor injection-->
<!--        default it go for sequence-wise-->

<!--        first approach-->
<!--        <constructor-arg index="0" value="22"/>-->
<!--        <constructor-arg index="1" ref="desk"/>-->

<!--        second approach-->
<!--        <constructor-arg type="org.example.Laptop" ref="lap1"/>-->
<!--        <constructor-arg type="int" value="22"/>-->

<!--        third approach-->
<!--        <constructor-arg name="lap" ref="lap1"/>-->
<!--        <constructor-arg name="age" value="22"/>-->

    </bean>
<!-- if you have two choice .So you can make one as primary . which run in case you are not explicitly mention in property-->
    <bean id="com" class="org.example.Laptop" />

<!--    using lazy-init we can stop unwanted object creation . like whenever you use that obj at that time call -->
    <bean class="org.example.Desktop" lazy-init="true"/>

</beans>